[submodule "MadridTransporte-back"]
	path = MadridTransporte-back
	url = https://github.com/xBaank/MadridTransporte-back.git
[submodule "MadridTransporte-front"]
	path = MadridTransporte-front
	url = https://github.com/xBaank/MadridTransporte-front.git
